// Links, buttons, and more within the dropdown menu
.dropdown-item {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid $dropdown-border-color;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: $dropdown-border-color;
    text-align: center;
  }

  .badge {
    position: absolute;
    right: 10px;
    margin-top: 2px;
  }
}

// Dropdown section headers
.dropdown-header {
  padding: 8px 20px;
  background: $dropdown-divider-bg;
  border-bottom: 1px solid $dropdown-border-color;

  .btn {
    margin-top: -7px;
    color: $dropdown-header-color;

    &:hover {
      color: $body-color;
    }

    &.pull-right {
      margin-right: -20px;
    }
  }
}

.dropdown-menu-lg {
  width: 330px;
}
.app-header {
  .navbar-nav {
    .dropdown-menu {
      position: absolute;
    }
    // Menu positioning
    //
    // Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
    // menu with the parent.
    .dropdown-menu-right {
      right: 0;
      left: auto; // Reset the default from `.dropdown-menu`
    }

    .dropdown-menu-left {
      right: auto;
      left: 0;
    }
  }
}

.projects-toggle {
  display: flex;
  border-radius: 4px;
  background-color: red;
  align-items: center;
  justify-content: center;
  color: white;

}

.projects-toggle-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 12px;
}

.projects-toggle-lg {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 16px;
  font-weight: bold;
}



@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}