.file-uploader {
  border: 1px solid #dbdee0;
  position: relative;
  padding: 75px;
  font-size: 16px;
}

.file-uploader__btn {
  margin: 1.5rem;
}

.file-uploader__input {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.file-uploader--dragging {
  background-color: lightblue;
}

.file-uploader--invalid {
  background-color: rgba(243, 6, 6, 0.45);
  cursor: no-drop !important;
}

.file-uploader__contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.file-uploader__file-name {
  font-weight: 700;
}

.file-uploader_subtitle {
  opacity: .5;
  font-size: 14px;
}