// Paths

$path-to-img: '../images' !default;

// core overrides

$border-color: rgba(120, 130, 140, 0.13); //rgb(225, 231, 233);//$gray-300;

// Navbar

$navbar-height: 100px;
//$navbar-bg: #19212b; //$gray-800;
$navbar-bg: #ffffff; //$gray-800;
// $navbar-border: (
//   bottom: (
//     size: 10px,
//     style: solid,
//     color: $primary,
//   ),
// );
$navbar-border: (
  bottom:(
    size: 2px,
    style: solid,
    color: $white,
  )
);

$navbar-brand-width: 160px;
//$navbar-brand-bg: $navbar-bg; //darken($gray-800,10%);
$navbar-brand-bg: #ffffff;
$navbar-brand-logo-size: 105px auto;
$navbar-brand-border: 2px;


$navbar-color: $gray-900;
$navbar-hover-color: darken($navbar-color, 10%);
$navbar-active-color: darken($navbar-color, 20%);
$navbar-disabled-color: lighter($navbar-color, 20%);

$navbar-active-color: #0079B9;

